<h1><%=title %></h1>
<p>Welcome to <em><%=title %></em></p>
<p>The inventory has the following record counts:</p>
<ul>
  <li><strong>Type of Cars: </strong><%=content.total_cars%></li>
  <li><strong>Cars in stock: </strong><%=content.total_car_instances%></li>
  <li><strong>Cars Available: </strong><%=content.total_available_cars%></li>
  <li><strong>Manufacturers: </strong><%=content.total_manufacturers%></li>
  <li><strong>Body Styles: </strong><%=content.total_body_styles%></li>
</ul>
