<h1>ID: <%=content.id %></h1>
<p>Car: <%= content.name%></p>
<p>Manufacturer: <%= content.manufacturer%></p>
<p>Body Style: <%= content.bodyStyle%></p>
<p>Price: <%= content.price%></p>
<a href="<%=content.id%>/delete">Delete Car</a>
