<h1>Car: <%=content.name %></h1>
<p>Manufacturer: <%= content.manufacturer%></p>
<p>Body Style: <%= content.bodyStyle%></p>
<p>Price: <%= content.price%></p>
<a href="<%=content.id%>/update">Update Car</a><br />
<a href="<%=content.id%>/delete">Delete Car</a>
