<h1><%=title %></h1>
<% if (content.car) { %>
  <h3>Car: <%= content.car.name %></h3>
<% } %> 
<form method="POST" action="">
  <label for="text">Name:</label><br />
  <input type="text" id="name" name="name" placeholder='Name of car'  required='true' value="<%=(undefined===content.car ? '' : content.car.name)%>"/><br />
  <label for="manufacturer">Manufacturer:</label><br />
  <select id="manufacturer" name="manufacturer" required='true'>
  <% content.manufacturers.forEach((manufacturer) => { %>
    <option value="<%= manufacturer.id %>" 
      <%= content.car && manufacturer.name === content.car.manufacturer ? 'selected' : '' %>>
      <%= manufacturer.name %>
    </option>
  <% }) %>
  </select><br />
  <label for="bodystyle">Body Style:</label><br />
  <select id="bodystyle" name="bodystyle" required='true'>
  <% content.body_styles.forEach((style) => { %>
  <option value="<%= style.id %>" 
    <%= content.car && style.name === content.car.body_style ? 'selected' : '' %>>
    <%= style.name %>
  </option>
  <% }) %>
  </select><br />
  <label for="price">Price:</label><br />
  <input type="number" id="price" name="price" placeholder='Price of car' required='true' value="<%=(undefined===content.car ? '' : content.car.price)%>"/>
  <br></br>
  <button type="submit">Submit</button>
</form>
<% if (content.errors) {%>
<ul>
  <%content.errors.forEach((error)=>{%>
  <li><%= error.msg %></li>
  <%})%>
</ul>
<%}%>

